---
layout: landing
title: Extractos Mágicos - Colágeno Hidrolizado con Citrato de Magnesio
permalink: colageno-magnesio-extractos-magicos
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../output.css" rel="stylesheet">
  <link href="../assets/css/main.css" rel="stylesheet">

</head>
<body class="bg-white text-azul pt-2">

  <!-- Slider -->
  <div class="slider">
    <div class="slider__text text-lila font-bold">
        ENVÍO GRATIS EN TODA COLOMBIA | PAGO CONTRAENTREGA
    </div>
</div>

<!--Hero section-->

<div class="flex pt-12 px-6 md:px-20  items-center justify-center bg-hero md:h-screen overflow-hidden">
    <div class="flex flex-col  gap-6 md:flex-row items-center max-w-8xl">
        <div class="w-full md:w-1/2 lg:pr-32">
            <h2 class="text-4xl md:text-5xl text-center md:text-left text-verde leading-tight font-medium">Rejuvenece y fortalece tu cuerpo desde adentro.</h2>
            <h3 class="mt-6 md:mt-10 text-md lg:text-xl text-center md:text-left text-gray-700 font-light tracking-wider leading-relaxed">
                Descubre el poder del colágeno hidrolizado con citrato de magnesio: piel firme, articulaciones saludables, y energía para cada día, todo en un solo producto.
            </h3>
            <div class="mt-10 flex flex-col sm:flex-row justify-center md:justify-start">
                <button class="w-full sm:w-40 px-4 py-3 rounded font-semibold text-md bg-azul text-white border-2 border-azul hover:bg-lila hover:border-lila hover:text-white hover:font-bold">Píde el tuyo ahora</button>
                <button class="w-full mt-4 sm:mt-0 sm:ml-4 sm:w-40 px-4 py-3 rounded font-semibold text-md bg-white text-azul border-2 border-gray-500 hover:bg-verde hover:border-verde hover:text-white hover:font-bold">Chatea con nosotros</button>
            </div>
        </div>
        <div class="w-full rounded-xl shadow-md overflow-hidden md:w-1/2 flex justify-center md:justify-end">
            <img src="..\assets\images\hero-image-colageno.webp" alt="mujer adulta piel tersa y articulaciones fuertes por consumir colágeno">
        </div>
    </div>
</div>

<!--/Hero Section-->


  <!--p>¡Únete a más 
                de 5,750 clientes satisfechos!</p>
            <a href="#form" class="bg-rosado text-plata py-2 px-4 rounded hover:bg-azul transition">Empieza hoy tu transformación</a-->
<div class="w-full space-x-2">
    <h2 class="text-4xl md:text-5xl text-center text-lila font-medium mt-2 pb-8 ">¿Qué ocurre en mi cuerpo <br><sub>al consumir Extractos Mágicos?<sub></h2>
</div>

{% for card in site.data.cards %}
<p>{{ card.title }} </p>
{% endfor %}

<!--Benefits Cards-->
<main class="page-content">
    
    <div class="flex flex items-center flex-wrap max-w-full">
      {% for card in site.data.cards %}
        <div class="card">
          <h2 class="title top-right">{{ card.title }}</h2>
          <p class="copy text-center">{{ card.copy }}</p>
          <button class="btn"><a href="#form" class="">Lo Quiero</a></button>
        </div>
      {% endfor %}
    <!--/div-->

</main>
<!--/cards-->

<!--FAQs Accordion-->
<div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen">
	<div class="flex flex-col items-center">
		<h2 class="font-bold text-5xl mt-5 tracking-tight">
			FAQs
		</h2>
		<p class="text-neutral-500 text-xl mt-3">
			Preguntas Frecuentes
		</p>
	</div>
	<div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
        <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
        {% for faq in site.data.faqs %}
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                    <span> {{ faq.title }}</span>
                    <span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
                </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    {{ faq.answer }}
                </p>
            </details>
        </div>
        {% endfor %}
	</div>

<!-- WP Buttom -->
    <a target="_blank" href="https://wa.me/573332653017?text=%C2%A1Hola,%20*Vital%20Energy*!%20Estuve%20en%20su%20pagina%20web%20y%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20el%20col%C3%A1geno%20hidrolizado%20con%20citrato%20de%20magnesio.%20Mi%20nombre%20es%20..." class="flex w-56 gap-4 px-4 py-2 bg-[rgb(32,176,85)] rounded-lg shadow-xl self-center items-center justify-around hover:bg-[rgb(34,192,92)]/90" 
    href=""><img alt="logo whatsapp" loading="lazy" width="40" height="40" decoding="async" data-nimg="1" src="..\assets\images\wpp.jpg" style="color: transparent;"><p class="text-center content-center text-2xl text-white">
        ¡Escríbenos!
    </p></a>
</div>



<script>
	// ...
	// extend: {
    //   keyframes: {
    //     fadeIn: {
    //       "0%": { opacity: 0 },
    //       "100%": { opacity: 100 },
    //     },
    //   },
    //   animation: {
    //     fadeIn: "fadeIn 0.2s ease-in-out forwards",
    //   },
    // },
    // ...
</script>
<!-- Services Section -->
<section id="services" class="py-16 bg-white">
    <div class="container mx-auto px-5">
      <h3 class="text-2xl font-bold text-center mb-6">Ofertas Especiales</h3>
      <div class="flex justify-center space-y-3 sm:space-y-0 sm:space-x-3">
        <div class="bg-blue-50 p-6 rounded-lg shadow-lg w-80">
          <h4 class="text-gray-600 text-center">Lleva 1 unidad a solo</h4>
          <p class="text-xl font-semibold mb-2 text-center">$77.000</p>
          <img src="..\assets\images\COLAGENOCONCITRATO.jpg" alt="">
        </div>
        <div class="bg-blue-50 p-6 rounded-lg shadow-lg w-80">
            <h4 class="text-gray-600 text-center">Lleva 2 unidades + obsequio </h4>
            <p class="text-xl font-semibold mb-2 text-center">$115.000</p>
            <img src="..\assets\images\COLAGENOCONCITRATOx2.jpg" alt="">
          </div>
          <div class="bg-blue-50 p-6 rounded-lg shadow-lg w-80">
            <h4 class="text-gray-600 text-center">Paga 2 y lleva 3 + obsequio</h4>
            <p class="text-xl font-semibold mb-2 text-center">$154.000</p>
            <img src="..\assets\images\COLAGENOCONCITRATOx3.jpg" alt="">
          </div>
          <div class="bg-blue-50 p-6 rounded-lg shadow-lg w-80">
            <h4 class="text-gray-600 text-center">Paga 3 y lleva 5 + obsequio</h4>
            <p class="text-xl font-semibold mb-2 text-center">$231.000</p>
            <img src="..\assets\images\COLAGENOCONCITRATOx3.jpg" alt="">
          </div>
      </div>
    </div>
  </section>
  {% include templates/form.html %}
  <!-- Footer -->
  <footer class="bg-azul text-white py-4">
    <div class="container w-full mx-auto text-center">
      <p>&copy; {{ site.title }} 2024. Todos los derechos reservados.</p>
    </div>
  </footer>
</body>
</html>
