---
layout: landing
title: Extractos Mágicos - Colágeno Hidrolizado con Citrato de Magnesio
permalink: colageno-magnesio-extractos-magicos
wp-link-dudas: https://wa.me/573332653017?text=¡Hola, *Vital Energy*! Estuve en su pagina web y quisiera más información sobre el producto%20
wp-link-lo-quiero: https://wa.me/573332653017?text=¡Hola, *Vital Energy*! Estoy interesado en el producto%20
attribution-link: https://www.freepik.es/foto-gratis/vista-frontal-mujer-mayor-practicando-yoga-playa_10296196.htm#fromView=image_search_similar&page=1&position=15&uuid=a23409c5-09c6-45c2-ae14-e3c180303052
attribution-text: Imágenes de freepik
---

<body>

<!--Hero section-->

<div class="flex pt-12 px-6 md:px-20 items-center justify-center bg-hero md:h-screen overflow-hidden">
    <div class="flex flex-col gap-6 md:flex-row items-center max-w-8xl">
        <div class="w-full md:w-1/2 lg:pr-32">
            <h2 class="text-shadow text-4xl md:text-5xl text-center md:text-left text-verde leading-tight font-medium">Rejuvenece y fortalece tu cuerpo desde adentro.</h2>
            <h3 class="mt-6 md:mt-10 text-lg lg:text-xl text-center md:text-left text-gray-700 font-light tracking-wider leading-relaxed">
                Descubre el poder del colágeno hidrolizado con citrato de magnesio: piel firme, articulaciones saludables, y energía para cada día, todo en un solo producto.
            </h3>
            <div class="mt-10 flex flex-col sm:flex-row justify-center md:justify-start">
                
                <button id="openModalBtn" class="w-full sm:w-40 px-4 py-3 rounded font-semibold text-md bg-azul text-white border-2 border-azul hover:bg-lila hover:border-lila hover:text-white hover:font-bold">Empieza tu transformación</button>
                
                <a target="_blank" href="{{ page.wp-link-dudas }}{{ page.title }}.%20Mi%20nombre%20es%20..."><button class="w-full mt-4 sm:mt-0 sm:ml-4 sm:w-40 px-4 py-3 rounded font-semibold text-md bg-white text-azul border-2 border-gray-500 hover:bg-verde hover:border-verde hover:text-white hover:font-bold">Chatea con nosotros</button>
                </a>
            </div>
        </div>
        <div class="w-full rounded-xl shadow-md overflow-hidden md:w-1/2 flex justify-center md:justify-end">
            <img src="..\assets\images\hero-image-colageno.webp" alt="mujer adulta piel tersa y articulaciones fuertes por consumir colágeno">
        </div>
    </div>
</div>

<!--/Hero Section-->

<!--Benefits Cards-->
<section class="container bg-plata">

    <div class="w-full space-x-2">
        <h2 class="text-shadow text-4xl md:text-5xl text-center text-lila font-medium mt-2 pb-8">¿Qué ocurre en mi cuerpo <br><sub>al consumir Extractos Mágicos?<sub></h2>
    </div>

    {% for card in site.data.cards %}
    <p class="hidden">{{ card.title }}</p>
    {% endfor %}


    <main class="page-content swiper testimonial-swiper">
        <div class="swiper-wrapper slider-container">
            <div class="slider flex flex-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
                {% for card in site.data.cards %}
                    <div class="card rounded overflow-hidden bg-cover" style="background-image: url('/assets/images/{{ card.src }}.jpg');">
                      <h2 class="title top-right">{{ card.title }}</h2>
                      <p class="copy text-center text-1x1">{{ card.copy }}</p>
                      <button class="btn text-shadow"><a href="#checkout">Lo Quiero</a></button>
                    </div>
                  {% endfor %}
            </div>
        </div>
        <!-- Controles de navegación -->
    <div class="swiper-button-next text-verde"></div>
    <div class="swiper-button-prev text-verde"></div>
    <!-- Paginación -->
    <div class="swiper-pagination"></div>
    </main>
</section>
<!--/cards-->

<!-- benefits scrolling slider -->
<!-- /benefits scrolling slider -->

<!-- Detalles -->
<section class="bg-oro py-10">
    <div class="container mx-auto flex flex-col lg:flex-row items-center gap-8">

        <!-- Imagen del producto -->
        <div class="lg:w-1/2 flex justify-center bg-oro border-lila">
          <img src="assets/gifs/extractos-magicos.gif" alt="{{ page.title }} rotando" 
               class="w-full max-w-md rounded-lg shadow-lg">
        </div>

        <!-- Detalles del producto -->
        <div class="lg:w-1/2 text-left lg:text-left space-y-4 px-4">
            <h2 class="text-shadow text-2xl md:text-3xl text-center text-lila font-medium">Colágeno Hidrolizado con Citrato de Magnesio</h2>
            <p class="text-gray-600 leading-tight font-light">
            Fortalece tus articulaciones, rejuvenece tu piel y estimula el crecimiento de cabello y uñas saludables. Mejora tu digestión, apoya tu corazón y disfruta de un descanso profundo y reparador. Menos ansiedad, más energía y vitalidad: ¡siéntete increíble de adentro hacia afuera!
            </p>
            <ul class="text-gray-700 list-inside space-y-2">
                <li>100% natural. No contiene azúcares ni endulzantes artificiales</li>
                <li>Mayor biodisponibilidad y rápida absorción en el orgnismo</li>
                <li>Activa la producción natural de colágeno y ácido hialurónico en tu cuerpo</li>
                <li>Registro Invima <strong>NSA-0010524-2021</strong></li>
                <li>Colágeno puro de origen bovino, no contiene alérgenos</li>
                <li>Fácil de preparar. Mézclalo con tu bebida favorita</li>
            </ul>
            <button id="openModalBtn" class="text-shadow mt-4 px-6 py-4 bg-verde text-white font-semibold rounded-lg hover:bg-lila transition-colors">
                <a href="#checkout">
                Quiero el mío!
                 </a>
            </button>
        </div>
    </div>
</section>

<!-- Testimonios --src="/assets/images/testimonio-wp-1.jpg-->

<section class="container testimonial-section">
  <h2 class="testimonial-title text-shadow text-center text-verde text-3xl font-semibold mb-6">Lo que nuestros clientes dicen</h2>
  <div class="swiper testimonial-swiper">
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide">
        <img src="/assets/images/testimonio-wp-1.jpg" alt="Testimonio 1" class="testimonial-image">
      </div>
      <!-- Slide 2 -->
      <div class="swiper-slide">
        <img src="/assets/images/testimonio-wp-2.jpg" alt="Testimonio 2" class="testimonial-image">
      </div>
      <!-- Slide 3 -->
      <div class="swiper-slide">
        <img src="/assets/images/testimonio-wp-3.jpg" alt="Testimonio 3" class="testimonial-image">
      </div>
      <!-- Slide 4 -->
      <div class="swiper-slide">
        <img src="/assets/images/testimonio-wp-4.jpg" alt="Testimonio 4" class="testimonial-image">
      </div>
    </div>
    <!-- Controles de navegación -->
    <div class="swiper-button-next text-verde"></div>
    <div class="swiper-button-prev text-verde"></div>
    <!-- Paginación -->
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- Modo de Uso -->
<section class="container py-4 bg-verde flex flex-col items-center"> 
  <div class="flex flex-col lg:flex-row-reverse justify-center items-center p-4 gap-3 lg:gap-5">
    
    <!-- Imagen visible solo en pantallas medianas y superiores -->
    <img 
      alt="preparación colágeno" 
      src="/assets/gifs/preparacion-extractos-magicos-ezgif.com-optimize.gif"
      class="rounded-lg hidden md:block w-[300px] h-[300px] object-cover"
    >
    
    <div class="text-gray-200 flex flex-col justify-center mx-4 p-2 lg:w-1/2">
      <h3 class="text-shadow text-3xl font-semibold mb-4 text-center lg:text-left">Prepáralo en menos de un minuto</h3>
      
      <ol class="list-decimal list-inside space-y-2 text-gris">
        <li>Disuelve 1 cucharadita dosificadora en agua o en la bebida de tu preferencia.</li>
        <li>Mezcla bien hasta que se disuelva.</li>
        <li>Tómala dos veces por día: en la mañana y en la noche.</li>
        <li>¡Listo!</li>
      </ol>
      
      <!-- Imagen visible solo en pantallas pequeñas -->
      <img
        width='250px'
        height='250px' 
        alt="preparación colágeno" 
        src="/assets/gifs/preparacion-extractos-magicos-ezgif.com-optimize.gif"
        class="rounded-lg block md:hidden w-21 h-21 pt-4 mx-auto"
      >
    </div>
  </div>
</section>
<!-- /Modo de Uso -->




<!--FAQs Accordion-->
<section class="container text-azul py-4 mx-auto px-5 bg-plata ">
	<div class="flex flex-col items-center">
		<h2 class="text-shadow font-bold text-5xl mt-5 tracking-tight">
			FAQs
		</h2>
		<p class="text-neutral-500 text-xl mt-3">
			Preguntas Frecuentes
		</p>
	</div>
	<div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-6">
        <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-6">
        {% for faq in site.data.faqs %}
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                    <span> {{ faq.title }}</span>
                    <span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
                </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    {{ faq.answer }}
                </p>
            </details>
        </div>
        {% endfor %}
	</div>
</section>

<!-- checkout + obsequio -->
<section id="checkout"class="bg-oro py-10">
    <div class="container mx-auto flex flex-col lg:flex-row items-center gap-8">
        
        <!-- Imagen del producto -->
        <div class="lg:w-1/2 flex justify-center bg-oro border-lila">
          <img src="..\assets\images\colageno-obsequio.png" class="w-full max-w-md rounded-lg shadow-lg"" alt="{{ page.title }} más obsequio - loción termoactiva para dolores musculares">
        </div>

        <!-- Detalles del producto -->
        <div class="lg:w-1/2 text-left lg:text-left space-y-4 px-4">
            <h2 class="text-shadow text-2xl md:text-3xl text-center text-lila font-medium">Recibe un Obsequio de Agradecimiento</h2>
            <p class="text-gray-600 leading-tight font-light">
            Por tu primera compra de {{ page.title }} o por compras superiores a $100.000.
            <p class="text-gray-600 leading-tight font-light">Esta Loción Termoactiva es un analgésico y antiinflamatorio de rápida absorción que alivia el dolor en lesiones leves y molestias musculares, como torceduras, esguinces, calambres y contracturas.</p>
            <h3 class="text-shadow text-1xl md:text-2xl text-left text-lila font-light">Recibe También Con tu Compra</h2>
            <ul class="text-gray-700 list-inside space-y-2">
                <li>🚚 Envío gratis a toda Colombia</li>
                <li>🔒 Compra protegida, paga al recibir</li>
                <li>📚 Ebook - Estrategias para aliviar dolores musculares</li>
                <li>📦 Seguimiento a tu envío y asesoría postventa</li>
            </ul>
            <p class="text-gray-600 leading-tight font-light">No esperes más y aprovecha esta oportunidad por tiempo limitado!</p>
            <button id="openModalBtn" class="text-shadow mt-4 px-6 py-4 bg-verde text-white font-semibold rounded-lg hover:bg-lila transition-colors">
                <!-- <a target="_blank" href="{{ page.wp-link-lo-quiero }}{{ page.title }}.%20Mi%20nombre%20es%20...">
                Comprar ahora!
                 </a> -->
                 Comprar ahora!
            </button>
        </div>
    </div>
</section>

 <!-- Offers Section -->
<section id="offers" class="text-azul container py-16 bg-white">
    <div class="mx-auto px-5">
        <h2 class="text-shadow font-bold text-5xl my-5 tracking-tight text-center">Ofertas Especiales</h2>
        <div class="grid gap-3 grid-cols-2 lg:grid-cols-4">
            <div class="bg-plata p-6 rounded-lg shadow-lg">
              <h4 class="text-gray-600 text-center">Paga 3 y lleva 5 + obsequio</h4>
              <p class="text-shadow text-xl font-semibold mb-2 text-center">$231.000</p>
              <a target="_blank" href="{{ page.wp-link-lo-quiero }}{{ page.title }},%20oferta%203x5.%20Mi%20nombre%20es%20..."><img class="rounded-lg" src="..\assets\images\oferta-3x5.png" alt="{{ page.title }} Oferta 3x5"></a>
            </div>
            <div class="bg-plata p-6 rounded-lg shadow-lg">
              <h4 class="text-gray-600 text-center">Paga 2 y lleva 3 + obsequio</h4>
              <p class="text-shadow text-2xl font-semibold mb-2 text-center">$154.000</p>
              <a target="_blank" href="{{ page.wp-link-lo-quiero }}{{ page.title }},%20oferta%202x3.%20Mi%20nombre%20es%20..."><img class="rounded-lg" src="..\assets\images\oferta-2x3.png" alt="{{ page.title }} Oferta 2x3"></a>
            </div>
            <div class="bg-plata p-6 rounded-lg shadow-lg">
              <h4 class="text-gray-600 text-center">Lleva 2 unidades + obsequio </h4>
              <p class="text-shadow text-2xl font-semibold mb-2 text-center">$115.000</p>
              <a target="_blank" href="{{ page.wp-link-lo-quiero }}{{ page.title }},%20oferta%202un.%20Mi%20nombre%20es%20..."><img class="rounded-lg" src="..\assets\images\oferta-2.png" alt="{{ page.title }} Oferta 2"></a>
            </div>
            <div class="bg-plata p-6 rounded-lg shadow-lg">
              <h4 class="text-gray-600 text-center">Lleva 1 por</h4>
              <p class="text-shadow text-xl font-semibold mb-2 text-center">$77.000</p>
              <a target="_blank" href="{{ page.wp-link-lo-quiero }}{{ page.title }},%20oferta%201un.%20Mi%20nombre%20es%20..."><img class="rounded-lg" src="..\assets\images\oferta-1.png" alt="{{ page.title }} Oferta 1"></a>
            </div>
        </div>
    </div>
</section>

  <!-- gif unmerco -->
  <div id="gif-unmerco" class="container text-center my-1 rounded-lg shadow-lg">
    <img src="http://pruebas.unmerco.com/wp/wp-content/uploads/2023/11/SENTIRSE-JOVEN-2.gif" alt="Mujer rejuvenecida porque toma {{ page.title }}">
  </div>

  <!-- Form Modal -->
<div id="formModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        {%include templates/form.html %}
    </div>
</div>

<!-- Confirmation Modal -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form class="max-w-sm mx-auto" id="form" novalidate action="/submit" method="post">
            <div class="mb-5 flex">
                <p>Your order is in process.</p>
            </div>
        </form>
    </div>
</div>

  
</body>
</html>
