<!--Header-->
  <header class="bg-azul text-white py-4 shadow-lg">
    <div class="container mx-auto flex justify-between items-center px-4">
      <h1 class="text-1xl font-bold">Vital Energy Shop</h1>
      <nav>
        <ul class="flex space-x-4">
          <li><a href="#home" class="hover:text-rosa">Inicio</a></li>
          <li><a href="#beneficios" class="hover:text-rosa">Beneficios</a></li>
          <li><a href="#testimonios" class="hover:text-rosa">Testimonios</a></li>
          <li><a href="#contacto" class="hover:text-rosa">Contacto</a></li>
        </ul>
      </nav>
      <img src="..\assets\images\white-logo.png" alt="logo" class="w-10 h-auto">
    </div>
  </header>