<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Vital Energy Shop">
<meta name="description" content="Productos que mejoran tu salud, bienestar y calidad de vida. Estamos comprometidos con la excelencia de los productos y el servicio que ofrecemos.">
<meta name="keywords" content="Tienda online salud Colombia, Pago contraentrega Colombia, Productos tendencia bienestar, Productos de belleza online, Cuidado personal Colombia, Suplementos bienestar, Productos para el hogar novedosos, Dropshipping Colombia, Bienestar y salud productos, Cuidado de la piel, Suplementos naturales Colombia, Productos para el bienestar físico, Vitaminas y suplementos online, Productos para mejorar la salud, Energía y vitalidad productos, Tienda online suplementos, Colágeno, Colágeno Hidrolizado, Magnesio, Colágeno con citrato de magnesio, Extractos Mágicos, Productos de belleza Colombia, Cuidado de la piel natural, Crema antienvejecimiento online, Productos de cuidado personal, Belleza y cuidado online, Productos prácticos para el hogar, Gadgets novedosos para el hogar, Artículos innovadores hogar, Soluciones para el hogar moderno, Productos para jóvenes adultos, Bienestar para hombres y mujeres, Compras online 25-90 años, accesorios deportivos,">
<meta name="robots" content="index, follow">
<meta title="{{ site.title }}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="Spanish"> 
<meta image="assets/images/white-logo.png">