<!-- Top Rotating Banner -->
  <section class="rotating-banner">
    <div class="slider__text text-lila font-bold">
        <span class="text-white">Dios te bendiga siempre, que el Señor guarde tu entrada y tu salida</span>ENVÍO GRATIS EN TODA COLOMBIA &nbsp;&nbsp;|&nbsp;&nbsp; PAGO CONTRAENTREGA<span class="text-gris">* * * Dios te bendiga siempre, que el Señor guarde tu entrada y tu salida * * *</span>VITAL ENERGY SHOP &nbsp;&nbsp;|&nbsp;&nbsp;  DISFRUTA LO QUE TE MERECES
    </div>
  </section>