<!-- WP Buttom -->
  <section class="my-1 container pt-16 content-center">
      <div class="mx-auto px-5">
        <a target="_blank" href="{{ page.wp-link-dudas }}{{ page.title }}.%20Mi%20nombre%20es%20..." class="flex w-70 gap-4 px-4 py-2 bg-[rgb(32,176,85)] rounded-lg shadow-xl self-center items-center justify-center hover:bg-[rgb(34,192,92)]/90" style="background-color: #20B055;"
        href=""><p class="text-shadow text-center content-center text-2xl text-white">
            ¿Aún tienes dudas? ¡Escríbenos!
        </p><img alt="logo whatsapp" loading="lazy" width="90" height="90" decoding="async" data-nimg="1" src="..\assets\images\whatsapp-3d.png" ></a>
      </div>
  </section>